<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Slots</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/manageslots.css') }}">
</head>
<body>
  <div class="container">
    <h1>Manage Slots</h1>
   
    <table>
      <thead>
        <tr>
          <th>Station</th>
          <th>Slot Number</th>
          <th>Slot Timings-(24HR) </th>
         
        </tr>
      </thead>
      <tbody>
        {% for slot in slots %}
          <tr>
            <td>{{ slot.station.name }}</td>
            <td>{{ slot.slot_number }}</td>
            <td>{{ slot.start_hour }}  -  {{slot.end_hour}}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
